html, * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

#game-view {
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    background: transparent;
    position: relative;
}

#bg-view {
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    z-index: -2;
}

#weather-view {
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

.hover-state {
    cursor: pointer;
}


#bottom-panel {
    height: 19vh;
    padding: 10px 20px;
    display: flex;
}


.hidden {
    display: none;
}

/* Resource */

.resource-info {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resource-info .col {
    margin-right: 15px;
}

.resource-info p {
    margin-top: 0;
    margin-bottom: 10px; 
}

.buildings-info {
    display: flex;
    flex-wrap: wrap;
    width: 38%;
}
.buildings-option {
    height: 75px;
    width: 150px;
    margin-right: 5px;
}

#selected-option {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 30%;
    margin-right: 30px;
}

#selected-option img {
    height: 120px;
    width: 120px;
}

#selected-option p {
    margin-right: 20px;
}

.selected {
    border: 1px solid #000000;
}

/* Controls */
.control {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;

    
}

.control button {
    margin-bottom: 20px;
}

/* Time */
#time {
    font-size: 32px;
    width: 10%;
    text-align: center;
    line-height: 158px;
}

/* Modal */

#modal {
    background: #ffffff;
    height: 60vh;
    position: absolute;
    top: 35%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px rgba(15, 15, 15, 0.644);
    z-index: 5;
    padding: 20px;
}

#modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    z-index: 4;
}
#modal p,
#modal h1,
#modal h3 {
    text-align: center;
}

#modal .container > form {
    justify-content: center;
    display: flex;
   
}

#modal .container {
    margin: 0 auto;
    width: 70%;
}

#modal input[type="number"] {
    width: 20%;
    margin-right: 20px;
}

#fight {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#run {
    display: block;
    margin: 0 auto;
    width: 50%;
}


.modal-image {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

/* FOrm */
#form-container {
    display: flex;

    text-align: center;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 150px;
    padding: 30px;
}
#form-container img {
    height: 60px; 
    width: 60px;
    
}

#form-container div {
    width: 50%;
}

#form-container p {
   margin-right: 10px;
    
}

#form-collect {
    text-align: center;
}

/* Game Message */
#game-message {
    background: #ffffff;
    min-height: 50px;
    position: absolute;
    top: 20px;
    width: 40%;
    left: 30%;
    line-height: 50px;
    text-align: center;
    transition: 1s ease-in;
}

#fight,
#run {
    margin-bottom: 30px;
}

/* Monster */
.monster {
    height: 100px; 
    width: 100px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}


/* Buttons */
button {
    font-size: 16px;
    border: 0;
    border-radius: 24px;
    padding: 10px 15px;
    color: #ffffff;
    background: rgb(26, 22, 22);
    cursor: pointer;
}


input[type="number"] {
    font-size: 16px;
}

/* Magic Shield */
#magic-shield {
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    z-index: 1;
}

